.row {
  padding: 10px 20px;
}

.action-container {
  display: flex;
}

.action-container a {
  padding-right: 20px;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.pad {
  padding-top: 20px;
}

.margin {
  margin-right: 20px;
}

.decoration-none {
  text-decoration: none;
  color: black;
}
